@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

html,
body {
	padding: 0;
	margin: 0;
	background-color: #1a202c;
	font-family: 'Poppins', sans-serif;
	height: 100%;
	width: 100%;
}

#root {
	height: 100%;
	width: 100%;
	display: flex;
	flex-direction: column;
}
